#controles ul {
  list-style-type: none;
  padding: 0;
  transform: translateX(-80%);
}

#controles ul:hover {
  transform: translateX(0);
}

/* Exercício 1: Criar uma transição para quando o mouse estiver em cima dos
 * botões play/stop (para que o elemento se revele lentamente)
 */
 #controles ul {
   transition: transform 800ms linear;
 }

/*
 * Exercício 2: Você deve implementar uma metáfora visual para cada um dos 4
 * estados dos animais. Algumas *sugestões*:
 *   - com-fome: animal piscando (opacidade variando)
 *   - satisfeito: uma borda verde no animal e o animal fica girando de alegria
 *   - com-raiva: animal fica pulsando
 *   - atacando: animal dá um salto e cresce, com uma borda vermelha
 */
.com-fome {
  animation: opacidade 1s linear 0s infinite;
}
@keyframes opacidade {
  from { opacity: 1.0;}
  to  {opacity: 0.1;}
  
}

.satisfeito {
  border: 6px dashed green ;  
  animation: girando 1.9s linear 0s infinite;

}
@keyframes girando {
  from{ transform: rotateY(0turn) scale(0.8,0.8);}

  to { transform: rotateY(1turn) scale(0.8,0.8);}  
}

.com-raiva {
  position: relative;
  border: 6px dashed pink;  
  transform: rotateY(1turn) scale(0.8,0.8);
  animation: pulsando .15s ease-in-out 0s infinite alternate;
}
@keyframes pulsando {
  
  from {top:0;}
  to{top: -30px}
}

.atacando {
  position: relative;
  border: 6px dashed red ;  
  animation: salto-crescendo 1s ease-in 0s;
}
@keyframes salto-crescendo {
  from {top:0;  transform:scale(0.5,0.5);}
  to{top: -30px; transform:scale(0.8,0.8)}
  
}
